**/target/

### IntelliJ IDEA ###
.idea/**
.idea/*
.idea/
*.iws
*.iml
*.ipr

**/.env
/example/src/main/resources/.env

/src
/src/**

.mvn/
target/
**/target
target/**

### Mac OS ###
.DS_Store
Thumbs.db